header{
    background-color: blue;
    position: fixed;
    width: 100%;
}
.Todo{
    display: flex;
    padding: 20px;
    
}
.topo{
    display: flex;
    margin: auto;
    align-items: center;
}
.teste{
    margin-top: 150px;
}
.centros {
    padding: 50px;
}

.c1{
    width: 50%;
    margin: 10px;
    background-color: azure;
}
.c2{     
    width: 25%;
    background-color: azure;
    margin: 10px;
    
}
.c3{
    width: 25%;
    margin: 10px;
    background-color: azure;
  
}

@media screen and (max-width: 500px){
    .todo{
        display: block;
    }
}
@media screen and (max-width: 900px){
    .todo{
        display: block;
        background-color: blue;
    }
} 
.logoPolitec{ /* formatando o tamanho da imagem */
    width: 57px;
    height: auto;
}
.opcoes{
    margin-left: auto;
}
.opcoes ul{
    list-style: none; /*tirar ponto de lista*/
}
.opcoes ul li{
    display: inline;
    color: white;
    font-size: 1.35em; /*em - é um tipo de unidade medida*/
    padding: 15px;                  /*Padding: Espaço interno| Margim e border são externos*/
}
.opcoes ul li a {
 text-decoration: none;
 color: white;
}

  /*5 - comentários no html*/
  /*6 - backgroud color*/
 /*7 - seletores de elementos (classe - id)*/
 /*8 - link - href*/
